<app-filter
  [all]="all"
  [inStock]="inStock"
  [outOfStock]="outOfStock"
  (selectedFilterChange)="onFilterChange($event)"
></app-filter>
<p>Searched Text {{searchText}}</p>
<div class="container">
  <!-- selectedProduct=product -->
  <ng-container *ngFor="let product of products" >
    <!-- *ngIf="
        selectedFilter === 'all' ||
        product.is_in_inventory.toString() === selectedFilter
      " -->
    <app-product
    (click)="setProduct(product)"
      [product]="product"
      *ngIf="searchText === '' || product.name.toLowerCase().includes(searchText.toLowerCase())"
    ></app-product>
  </ng-container>
</div>
